<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymleaf.org" th:replace="normal/userbase::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>User Page</title>
</head>
<body>
	<section>
		<!-- <h1>User name: <span th:text="${userDetails.name}"></span></h1>
		<h1>User email:<span th:text="${userDetails.email}"></span></h1>
		<h1>User about: <span th:text="${userDetails.about}"></span></h1>
		<h><a href="" th:href="@{/logout}">Logout</a></h> -->
			
	</section>


</body>
</html>