<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center">
		<div class="container text-center">
			<h1 class="font-weight-bold">Smart contact manager</h1>
			<p>Now save your contacts securely on the web</p>
			<button class="btn bg-primary btn-lg">Get Start</button>
		</div>
	</section>


</body>
</html>